.commerce-checkout-flow {
  .layout-region-checkout-main {
    background: $white;
  }

  .layout-region-checkout-secondary {
    background: $white;
  }
}

.kc-checkout{
  &__customer-info {
    margin-top: 24px;
    border-top: 1px solid $gray-200;
    padding-top: 24px;
  }

  &__fieldsets {
    & > fieldset {
      border-bottom: 1px solid $gray-200;
      padding-bottom: 28px;
      margin-bottom: 28px;
    }
  }

  &__main {
    background: $white;
    border-radius: 26px;
    padding: 24px 36px;

    &>fieldset {
      &:not([data-drupal-selector="edit-review-payment-information"], [data-drupal-selector="edit-review-customer-comments"]) {
        &>legend {
          font-size: 2rem;
          font-family: 'Mulish-Black';
          margin-bottom: 36px;
        }
      }
    }

    .form-type-radio input + label {
      display: inline-flex;
    }

    .fieldset-wrapper {
      .form-radios {
        gap: 16px;
        display: flex;
        flex-wrap: wrap;
      }
    }

    fieldset.checkout-pane-payment-information {
      margin-top: 0;


      &>legend {
        font-size: 28px;
        margin-bottom: 36px;
        font-family: 'Mulish-Black';
      }

      .form-radios {
        display: flex;
        gap: 12px;
      }
    }
  }

  &__heading {
    font-size: 2rem;
    margin-bottom: 36px;
    font-family: 'Mulish-Black';
  }

  &__shipping-info {
    margin-bottom: 36px;
    padding-bottom: 24px;
    border-bottom: 1px solid $gray-200;

    &__value {
      font-family: Mulish-bold;
      margin-top: 8px;
      text-transform: uppercase;
    }
  }

  &__secondary {
    background: $white;
    border-radius: 26px;
    padding: 24px 36px;

    table {
      font-size: 16px;
    }
  }

  &__progress {
    display: flex;
    list-style-type: none;
    counter-reset: num;
    padding: 0;
    margin: 24px 0 52px 0;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
    font-size: 1rem;

    &__step {
      position: relative;
      padding: 3px 0 0 10px;
      margin-left: 48px;
      color: $gray-500;
      font-family: 'Mulish-Bold';

      a {
        text-decoration: none;
        color: $gray-500;
      }

      &::before {
        content: counter(num) "";
        counter-increment: num;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: -3px;
        left: -36px;
        width: 38px;
        height: 38px;
        color: $white;
        text-align: right;
        background-color: $gray-500;
        border-radius: 50px;
      }

      &--current {
        color: $primary;

        &::before {
          background-color: $primary;
        }
      }
    }
  }

  &__back-link {
    display: flex;
    position: relative;
    padding-left: 16px;
    align-items: center;
    font-family: 'Mulish-Bold';
    text-decoration: none;
    gap: 12px;
    margin-bottom: 36px;
    transition: all 0.2s;

    svg {
      margin-top: 2px;
    }

    &:hover {
      color: $primary;

      svg, path {
        fill: $primary;
      }
    }
  }
}
