.commerce-checkout-flow {
  .layout-region-checkout-main {
    background: $white;
  }

  .layout-region-checkout-secondary {
    background: $white;
  }
}

.kc-checkout{
  &__main {
    background: $white;
    border-radius: 26px;
    padding: 24px 36px;

    fieldset.checkout-pane-payment-information {
      margin-top: 0;

      &>legend {
        font-size: 28px;
        margin-bottom: 36px;
        font-family: 'Mulish-Black';
      }

      .form-radios {
        display: flex;
        gap: 12px;
      }
    }
  }

  &__secondary {
    background: $white;
    border-radius: 26px;
    padding: 24px 36px;

    table {
      font-size: 16px;
    }
  }

  &__progress {
    display: flex;
    list-style-type: none;
    counter-reset: num;
    padding: 0;
    margin: 24px 0 52px 0;
    gap: 3rem;
    flex-wrap: wrap;
    align-items: center;

    &__step {
      position: relative;
      padding: 0 0 0 12px;
      margin-left: 48px;
      color: $gray-500;
      font-family: 'Mulish-Bold';

      a {
        text-decoration: none;
        color: $gray-500;
      }

      &::before {
        content: counter(num) "";
        counter-increment: num;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: -5px;
        left: -42px;
        width: 42px;
        height: 42px;
        color: $white;
        text-align: right;
        background-color: $gray-500;
        border-radius: 50px;
      }

      &::after {
        width: 50px;
        height: 2px;
        background-color: $gray-500;
        content: '';
        display: inline-flex;
        position: absolute;
        top: 17px;
        right: -66px;
      }

      &--current {
        color: $primary;

        &::before {
          background-color: $primary;
        }
      }
    }
  }

  &__back-link {
    display: flex;
    position: relative;
    padding-left: 16px;
    align-items: center;
    font-family: 'Mulish-Bold';
    text-decoration: none;
    gap: 12px;
    margin-bottom: 36px;
    transition: all 0.2s;

    svg {
      margin-top: 2px;
    }

    &:hover {
      color: $primary;

      svg, path {
        fill: $primary;
      }
    }
  }
}
