a {
  color: $gray-900 !important;
  transition: all 0.2s ease;

  &:hover {
    color: $primary;
  }

}

.kc-link {
  &:hover {
    color: $secondary;
  }

  &--with-icon {
    display: flex;
    align-items: center;
    line-height: 1;
    gap: 8px;
    transition: all 0.2s;

    svg {
      display: block;
      height: 1.5rem;
      transition: all 0.2s;
      margin-top: 1px;
    }

    &:hover {
      opacity: 0.6;
    }
  }

  &--target {
    cursor: pointer;
    text-decoration: none;
  }

  &--underlined {
    display: inline-block;
    position: relative;

    &:before {
      content: '';
      width: 100%;
      background-color: $gray-400;
      height: 1px;
      display: block;
      bottom: 0;
      position: absolute;
      transition: all 0.2s ease;

      &:hover {
        opacity: 0;
      }
    }

    &:after {
      content: '';
      width: 0%;
      left: 50%;
      background-color: $primary;
      height: 1px;
      display: block;
      z-index: 10;
      position: absolute;
      bottom: 0;
      transition: all 0.2s ease;
    }

    &:hover {
      &:after {
        width: 100%;
        left: 0;
      }
    }
  }
}
