.main-catalog {
  position: absolute;
  z-index: 10;
  left: 0;
  right: 0;
  width: 100vw;
  top: $header-height;
  min-width: 100vw;
  min-width: 100%;
  left: 0;

  @include media-breakpoint-down(md) {
    left: -0.5rem;
    right: 0.5rem;
    width: calc(100vw - 1rem);
    height: calc(100vh - $header-height - 3rem);
  }

  &__collapse-btn {
    padding: 10px 32px !important;
    font-size: 18px !important;

    @include media-breakpoint-down(md) {
      padding: 0 !important;
      cursor: pointer;
      border-radius: 12px !important;
      margin: 0;
    }
  }

  &__text {
    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  &__icon-wrapper {
    display: none;

    @include media-breakpoint-down(md) {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 8px;
      width: 50px;
      height: 40px;
    }
  }

  &__line {
    width: 30px;
    height: 3px;
    background-color: $white;
    display: block;
    border-radius: 3px;
  }

  .container {
    height: 100%;
  }

  &__wrapper {
    position: inherit !important;
  }

  &__cols {
    background-color: $white;
    height: 100%;
    border-radius: 24px;
    border: none;
  }

  &__body {
    flex-grow: 1;
    padding: 2rem;
    height: 100%;

    &-heading {
      font-family: "Mulish-Bold";
      text-transform: uppercase;
    }

    a {
      text-decoration: none;
    }

    &__brands {

      &__brand-letter {
        width: 60px;

        @include media-breakpoint-down(md) {
          width: 40px;
          display: flex;
          align-items: center;
        }

        h4 {
          margin-bottom: 0;

          @include media-breakpoint-down(md) {
            font-size: 18px;
            display: flex;
            align-items: center;
            font-family: "Mulish-Bold";
          }
        }
      }
      &__brand-links {
        width: calc(100% - 60px);

        @include media-breakpoint-down(md) {
          font-size: 18px;
        }

        a {
          text-decoration: none;
        }
      }
    }
  }

  &__body-heading {
    margin-bottom: 32px;
    font-size: 26px;
    font-family: "Mulish-Black";
    text-transform: uppercase;

    @include media-breakpoint-down(md) {
      font-size: 18px;
      margin-bottom: 4px;
    }

    a {
      color: $primary;
      text-decoration: none;
      margin-bottom: 12px;
      padding: 6px 0;
      display: block;
    }
  }

  &__body-item {
    height: 100%;
    overflow: auto;
    overflow-x: hidden;

    @include media-breakpoint-down(md) {
      padding: 12px 6px;
    }
  }

  &__body-item-heading {
    margin-bottom: 16px;
    font-family: Mulish-bold;
    font-size: 22px;

    @include media-breakpoint-down(md) {
      font-size: 18px;
      color: $gray-400;
      margin-bottom: 8px;
    }
  }

  &__body-item-links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 12px 20px;
    padding-bottom: 20px;
    margin-bottom: 16px;
    border-bottom: 1px solid #eee;

    @include media-breakpoint-down(md) {
      display: flex;
      flex-direction: column;
      font-size: 18px;
    }
  }

  &__body-item-link-item {
    a {
      display: block;
      padding: 5px 0;
    }
  }

  &__items {
    padding: 24px;
    border-right: 1px solid $gray-200;
    min-width: 320px;

    @include media-breakpoint-down(md) {
      height: inherit;
      overflow: scroll;
      padding: 18px 16px;
    }

    .accordion-item {
      border: none;
    }

    .accordion-button {
      background-color: transparent !important;
      padding: 12px 46px 12px;
      border-radius: $accordion-border-radius;
      margin-right: 16px;

      @include media-breakpoint-down(md) {
        padding: 10px 12px;
      }

      &::after {
        width: 20px;
        height: 18px;
        background-size: auto;
        display: none;
      }

      &:not(.collapsed) {
        box-shadow: none;
        background-color: transparent !important;

        &[aria-expanded="true"] {
          background-color: $gray-1 !important;

          &::after {
            width: 20px;
            height: 18px;
            background-size: auto;
            rotate: 90deg;
            display: block;
            position: absolute;
            right: 8px;
          }
        }
      }

      a {
        text-decoration: none;
        font-family: 'Mulish-Bold';
      }
    }
  }

  &__item {
    &__svg {
      width: 2rem;
      height: 2rem;
    }

    @include media-breakpoint-down(md) {
      padding: 12px 10px;
    }
  }
}


@include media-breakpoint-up(md) {
  #kcPersonalAccountWrapper.in,
  #kcPersonalAccountWrapper.collapse {
    display: block!important;
  }
}
