section {
  &.kc-section {
    margin-bottom: 86px;
  }
}

.kc-section {
  &__heading {
    font-family: "Mulish-Black";
    font-size: 32px;
    text-transform: uppercase;
    margin-bottom: 3rem;
  }
}
