.kc-brand-promo-info {
  margin-bottom: 96px;

  &__brand-link {
    text-decoration: none;
    font-family: 'Mulish-Black';
    font-size: 24px;
    margin-bottom: 2rem;
    display: block;
  }

  &__img {
    border-radius: 16px;
    overflow: hidden;
  }
}

.brands {
  &__link-wrapper {
    padding: 0 26px;
  }
}


.promo{
  &__img {
    border-radius: 16px;
    overflow: hidden;
    display: block;
  }
}

.node--view-mode-full {
  margin-bottom: 72px;
}

.kc-price {
  &__value {

  }

  &__symbol {
    color: $gray-700;
  }
}

.kc-vote{
  &__value {
    display: flex;
    align-items: center;

    &:before {
      content: '';
      background-color: $gray-400;
      width: 6px;
      height: 6px;
      border-radius: 6px;
      display: inline-flex;
      margin-right: 7px;
    }
  }
}

.kc-contact-link {

  &__phone-link {
    font-size: 36px;
    font-family: 'Mulish-Bold';
  }

  &__items {
    display: flex;
    padding: 26px 0;
    gap: 1rem;
    justify-content: flex-end;
  }

  &__item {

  }

  &__link {
    display: block;
    width: 42px;
    height: 42px;
    position: relative;
  }
}

.view-commerce-order-item-table  {
  font-size: 16px;
  .views-field-quantity {
    min-width: 100px;
  }
}
