@import '../../scss/color';
@import '../../../../contrib/bootstrap5/scss/style';

.kc-main-slider {
  height: 48.5rem;

  .splide__track {
    height: inherit;
  }

  &__link {
    font-family: 'Mulish-Bold' !important;
    border-radius: 36px;
  }

  &__item {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 4rem 0 7rem 0;
    height: 100%;

    &__content {
      position: relative;
      display: flex;
      justify-content: center;
      width: 100%;
      height: 100%;
      backdrop-filter: blur(5px);
      border-radius: 36px;
      overflow: hidden;
    }

    &__cols {
      display: flex;
      height: 100%;
      gap: 3rem;

      @include media-breakpoint-down(md) {
        flex-direction: column;
        gap: 0;
        width: 100%;
      }
    }

    &__col {
      &-info {
        padding: 3rem 4rem;
        display: flex;
        flex-direction: column;
        max-width: 50%;

        @include media-breakpoint-down(md) {
          max-width: 100%;
          padding: 2rem 2rem;

        }
      }

      &-img {
        max-width: 50%;
        display: flex;
        justify-content: center;

        @include media-breakpoint-down(md) {
          display: none;
        }
      }
    }

    &__img-wrapper {
      overflow: hidden;
      height: 100%;
    }

    &__img {
      height: 100%;
      width: auto;
      object-fit: cover;
      max-width: fit-content !important;
    }

    &__heading {
      margin-bottom: 26px;
      font-size: 2rem;
      letter-spacing: 0%;
      line-height: 1.3;
      font-family: 'Mulish-black';

      @include media-breakpoint-down(md) {
        font-size: 24px;
      }
    }

    &__short-text {
      margin-bottom: 2rem;
      font-size: 16px;
      flex-grow: 1;
    }

    &__link {
      margin-top: 2rem;
      background-color: $yellow;
      color: $black;
      padding: .8rem 2rem;
      display: inline-block;
      text-decoration: none;
      text-transform: lowercase;
      font-stretch: semi-expanded;
      border-radius: 32px;
      font-family: 'Mulish-black';
    }
  }
}
