<div {{ attributes.addClass(classes) }}>
  <div class="row">
    <div class="col-md-5 col-xs-12 kc-review_item__img">
      {{ img }}
    </div>
    <div class="col-md-7 col-xs-12 kc-review_item__review-items">
      {{ items }}
    </div>
  </div>
</div>
