.kc-product-small-inline {
  margin-bottom: 24px;

  &__product-info {

  }

  &__product-link {
    text-decoration: none;
    font-family: 'Mulish-Bold';

    div {
      text-decoration: none;
    }
  }
}
