@import '../../scss/color';
@import '../../scss/variables_drupal';
@import '../../../../../themes/contrib/bootstrap5/scss/style';

.kc-product-full {
  h1 {
    margin-bottom: 36px;
  }

  &__type {
    margin-bottom: 30px;
    color: $gray-4;
    font-size: 20px;
    font-family: 'Mulish-Semibold';
  }

  &__product-type {
    margin-bottom: 30px;

    a {
      font-family: 'Mulish-Semibold';
    }
  }

  &__rating {
    font-size: 16px;
    display: flex;
    align-content: center;
    gap: 10px;
    color: $gray-4;
    margin-bottom: 24px;
  }

  &__price {
    font-size: 36px;
    margin-bottom: 24px;
    font-family: 'Mulish-Bold';
  }

  &__add-to-favorite {
    position: relative;
    margin-bottom: 36px;
  }

  .flag {
    display: inline-flex !important;
    line-height: 1;

    a {
      display: flex !important;
      gap: 16px;
      text-decoration: none;
      align-items: center;
      padding: 15px 24px;
      border-radius: 36px;
      color: $gray-2;
      transition: 0.2s ease all;
      font-size: 16px;
      background-color: $white;
      font-family: 'Mulish-Semibold';

      svg {
        stroke: $gray-2;
        height: auto;
        width: 30px;
      }

      &:hover {
        color: $pink-300;

        svg {
          stroke: $pink-300;
        }
      }
    }

    &.action-unflag {
      a {
        background-color: $pink-300;
        color: $white;

        svg {
          stroke: $white;
          fill: $white;
        }
      }
      svg {
        stroke: $secondary;
      }
    }
  }

  .kc-add-to-cart-link {
    &__add-to-cart-link {
      padding: 22px 16px;
      font-size: 26px;
    }

    &__link {
      width: 320px;
    }

    &__quantity {
      padding: 22px 16px;
    }

    &__quantity-link {
      padding: 22px 16px;
    }
  }

  &__price {
    del {
      color: $gray-5;
      font-size: 28px;
    }
  }

  &__tabs {
    border-bottom: 3px solid #eee !important;

    .nav-item {
      position: relative;
      bottom: -2px;
    }

    .nav-link {
      border-top: none !important;
      border-left: none !important;
      border-right: none !important;
      margin-bottom: 0 !important;
      color: $black;
      position: relative;
      bottom: -1px;

      &.active {
        color: $primary !important;
        background-color: transparent !important;
        border-bottom: 3px solid $primary !important;
      }
    }
  }
}
