.btn{
  &-primary {
    background: $primary !important;
    border-color: $primary !important;
  }

  &-secondary {
    background: $secondary !important;
    border-color: $secondary !important;
  }

  &-lg {
    font-size: 1.2rem;
  }

  &-sm {
    font-size: 14px;
  }

  &-outline-light {
    border-color: $gray-300;
    color: $gray-500;
  }
}
