$white: #fff;
$pink: #FF00AA;
$black: #000;
$green: #166B0F;
$yellow: hsl(57.4, 100%, 49.6%);

$gray-1: #eee;
$gray-2: #ccc;
$gray-3: #666;
$gray-4: #888;
$gray-5: #999;
$gray-6: #A4A4A4;

$pink: #d63384;
