.btn-primary {
  color: $white;
  transition: 0.2s ease all;

  &:hover {
    color: $white;
  }
}

.btn-secondary {
  color: $white;
  transition: 0.2s ease all;

  &:hover {
    color: $white;
  }
}
