.btn {
  @include media-breakpoint-down(md) {
    padding: 6px 10px;
  }
}
.btn-primary {
  color: $white;
  transition: 0.2s ease all;

  &:hover {
    color: $white;
  }
}

.btn-secondary {
  color: $white;
  transition: 0.2s ease all;

  &:hover {
    color: $white;
  }
}
