{#
/**
 * @file
 * Default theme implementation for checkout panes.
 *
 * Available variables:
 * - elements: The checkout pane's form elements.
 *
 * @ingroup themeable
 */
#}

<div class="kc-checkout__heading">{{ 'Review checkout'|t }}</div>

<div class="kc-checkout__fieldsets">
  {{ elements }}
</div>
